#page-auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 2%;

    > img {
        align-self: flex-start;
    }

    > h2 {
        margin-top: 3%;
        font: 300 48px 'Ubuntu', sans-serif;
    }

    .container-auth {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        max-width: 800px;
        padding: 5% 7%;
        border-radius: .5em;
        background-color: #242424;
    }

    .container-auth a {
        display: block;
        margin-top: 1.3em;
        width: 100%;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

    .container-auth a span {
        margin-left: .1em;
        color: #FBFF35;
    }
}