:root {
    --bg-color: #101010;
    --text-white: #fff;
    --yellow: #FBFF35;
}

::selection {
    color: var(--bg-color);
    background: #FCFF58;
}

// scroll bar
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 2px;
    scrollbar-color: var(--yellow) none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-white);
}

body, input, button, textarea, select {
    font: 400 16px 'Ubuntu', sans-serif;
}

.fab-add {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10%;
    right: 10%;
    overflow: hidden;
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s;

    > span {
        font-size: 50px;
        color: var(--black);
    }

    &:hover {
        filter: brightness(0.8);
    }
}