:root {
    --yellow: #EDF134;
    --black: #101010;
    --dark: #080808;
    --gray: #242424;
}

.container {
    padding: 2em 1em;
}

.home-content {
    display: flex;
    flex-direction: row;
}

.menu-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2em;
    color: white;
    font-weight: 400;
    font-size: 20px;
    
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.6);
    }
}

.menu-link span {
    margin-right: .3em;
}

.menu-exit {
    color: #EA2C43;
}

.photo-profile {
    border-radius: 50%;
    width: 2em;
    border: 2px solid #A1A1A1;
}

.filters-container {
    max-width: 20%;

    > h3 {
        font-size: 20px;
        margin-bottom: .6em;
    }
    
}

// Category

.categories {
    display: inline-block;
    margin-bottom: .6em;
}

.category {
    display: flex;
    margin-bottom: .3em;
    
    > .category-name {
        margin-left: .6em;
    }
}

// Radio Button

.custom-radio-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--yellow);
    border-radius: 50%;
}

.custom-radio-button .checkmark {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
    background-color: var(--yellow);
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.custom-radio-button input {
    display: none;
}

.custom-radio-button input:checked + .checkmark {
    opacity: 1;
}

// City

.city {
    display: flex;
    flex-direction: column;
    margin-bottom: .6em;

    > select {
        max-width: 150px;
        margin-bottom: .3em;
        background-color: var(--yellow);
        color: var(--black);
        border: none;
        font-weight: 500;
        border-radius: .3em;
        padding: .1em .3em;
    }


    > select::placeholder {
        color: #515151;
    }

    > select:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
}

// Price 

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .price-range {
        display: flex;
        align-items: center;
        max-width: 100px;
        color: var(--black);
        margin-bottom: .3em;
        background-color: var(--yellow);
        border-radius: .3em;
        padding: .1em .3em;
        font-weight: 500;
    }

    > .price-range input {
        width: 100%;
        background-color: transparent;
        color: var(--black);
        border: none;
        font-weight: 400;
        margin-left: .2em;
    }

    > .price-range input::placeholder{
        color: var(--black);
    }

    > .price-range input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    > #price-min, #price-max {
        margin-right: 5px;
    }

    > #price-button {
        width: 25px;
        height: 25px;
        color: var(--gray);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--dark);
        cursor: pointer;
    }
}

// Services

#services {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 4em 2em 2em;
}

.service {
    width: 100%;
    display: flex;
    background-color: #2E2E2E;
    overflow: hidden;
    border-radius: .7em;
    max-height: 130px;
    margin-bottom: 1em;
    cursor: pointer;

    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgba(46, 46, 46, 0.6);
    }
}

.service img {
    align-self: flex-start;
    height: 100%;    
}

.service-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1em 1em;
}

.service-name {
    font-size: 26px;
    margin-bottom: .3em;
}

.service-price {
    margin-bottom: .4em;
}

.price-label {
    font-size: 16px;
}

.price-value {
    font-size: 20px;
    margin-left: .2em;
}

.service-description {
    font-size: 16px;
}

// Service popup

#service-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    display: none;
}

#popup-content {
    background-color: #242424;
    border-radius: 1.5em;
    overflow: hidden;
}

#popup-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#popup-close {
    color: #EA2C43;
    align-self: flex-end;
    cursor: pointer;
}

#details {
    display: flex;
    flex-direction: column;
    padding: 1em 3em 2em 3em;
}

#main-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;

    > img {
        width: 40%;
        height: 100%;
        border-radius: 50%;
    }
}

#contact-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
   
    #popup-name {
        font-size: 24px;
        margin-bottom: .5em;
    }

    #popup-price {
        margin-bottom: .5em;
    }

    #popup-label {
        font-size: 12px;
    }

    #popup-value {
        font-size: 20px;
        margin-left: .2em;
    }

    #popup-phone, #popup-mail {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: .3em;

        > span {
            margin-right: .3em;
        }
    }
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    justify-content: center;
    background-color: #4ECB5D;
    padding: .5em;
    cursor: pointer;
    text-decoration: none;
    color: white;


    > img {
        margin-left: .3em;
        width: 40px;
    }

    transition: filter 0.2s;

    &:hover {
        filter: brightness(1.13);
    }
}
